
.Link-Button{
    background-color: rgba(0, 0, 0, 0.5);
    border: 0px;
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 5px;    
    /* box-shadow: 0px 0px 5px 0px black; */
}

.Link-Button a{
    text-decoration: none;
    color: white;
}
