.Header {
    background: linear-gradient(90deg, rgb(19, 176, 200), rgb(20, 114, 196));
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    width: 100%;
}

.nav-Header {
    display: flex;
    list-style: none;
    /* border: 1px solid; */
    flex-wrap: nowrap;
    padding: 10px;
}

.nav-Header li {
    /* background-color: rgb(22, 125, 214); */
    font-size: 25px;
    margin-inline: 10px;
    padding: 5px 10px;
    transition: 0.5s;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-Header li:hover, .current-page {
    color: white;
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}

.button-menu {
    background-color: rgba(0, 0, 0, 0.2);
    display: none;
    justify-content: center;
    align-items: center;
    border: 0px;
    border-radius: 5px;
    padding: 2px;
}




.material-symbols-outlined {
    font-size: 35px;
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.nav-Header .material-symbols-outlined {
    /* display: none; */
}

.links-header{
    text-decoration: none;
    color: black;
}



@media screen and (max-width: 600px) {

    .Header {
        background: linear-gradient(90deg, rgb(19, 176, 200), rgb(20, 114, 196));
        display: flex;
        align-items: center;
        justify-content: space-around;
        position: relative;
        width: 100%;
        padding: 10px;
    }

    .nav-Header {
        flex-wrap: nowrap;
        padding: 0px;
        flex-direction: column;
        background-color: rgb(19, 176, 200);
        position: absolute;
        left: -70%;
        top: 0px;
        height: 100vh;
        width: 70%;
        transition: 0.5s;

    }

    .nav-Header li {
    /* background-color: rgb(22, 125, 214); */
    font-size: 25px;
    margin-inline: 0px;
    padding: 10px;
    transition: 0.5s;
    cursor: pointer;
    border-radius: 0px;
        flex-direction: row;
}

.button-menu {
    display: flex;
}

.nav-Header .material-symbols-outlined {
    display: inline;
    /* background-color: red; */
    margin-right: 10px;

}

}

/* .ocultar{
    display: none !important;
} */